.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-secondary);
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    padding-top: 56px;
  }
}