@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: "Inter", sans-serif;

  /* Text color variables */
  --text-primary: rgba(54, 58, 67, 1);
  --text-secondary: rgba(102, 108, 123, 1);
  --text-tertiary: rgba(176, 180, 190, 1);
  --text-error: rgba(255, 0, 0, 1);
  --text-white: rgba(255, 255, 255, 1);

  /* Background color variables */
  --bg-primary: rgba(0, 0, 0, 1);
  --bg-secondary: rgba(247, 247, 249, 1);
  --bg-brand: rgba(2, 136, 55, 1);
  --bg-brand_hover: rgba(2, 156, 63, 1);
  --bg-brand_active: rgba(2, 116, 47, 1);

  /* Border color variables */
  --border-input-default: rgba(199, 201, 209, 1);
  --border-divider: rgba(228, 230, 236, 1);
  --border-divider-order-info: rgba(224, 226, 234, 1);

  /* Outline color variables */
  --outline-input-default: rgba(0, 0, 0, 1);

  /* Shadow color variables */
  --shadow-input: rgba(0, 0, 0, 0.12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;

  input::placeholder {
    font-family: inherit;
  }
}
